*,
::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100vw;
    min-height: 30vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1E2023;
}

.container::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    border-bottom: 1px solid #4C5563;
}

.fullNavBar{
    display: inline;
}
.navbarLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
}

.nav--list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.item {
    text-align: center;
    text-shadow: 2px 2px 1px #333;
    user-select: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    z-index: 2;
    text-decoration: none;

    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 30px;
    background: rgba(29, 111, 163, 0.8);
}

.item.active{
    transform: translateZ(0) rotate(0deg) skew(10deg) translate(0, 0);
    transition: transform 400ms linear;

    background: rgba(0, 255, 213, 0.8);
}

.item:hover.active{
    transform: translateZ(0) rotate(0deg) skew(10deg) translate(10px, -10px);

}
.item:not(.active){
    transform: translateZ(0) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: transform 400ms linear;
}

.item:hover:not(.active) {
    transform: translateZ(0) rotate(-30deg) skew(25deg) translate(10px, -10px);
}

.item:before,
.item:after {
    content: "";
    position: absolute;
    left: -10px;
    background: #1d6fa3;
}

.item.active:before,
.item.active:after {
    content: "";
    position: absolute;
    left: -10px;
    background: #30DBBF;
}

.item:before {
    width: 15px;
    height: 100%;
    top: 0;
    transform: translateZ(0) rotate(0deg) skewY(-45deg) translate(-5px, 2px);
}

.item:after {
    width: 100%;
    height: 15px;
    top: 40px;
    transform: translateZ(0) rotate(0deg) skewX(-45deg) translate(2px, 0px);
}

.results-list{
    position: absolute;
    width: 100%;
    background-color: #4c4c4c;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #4c4c4c;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 1;
}

.search-wrapper{
    width: 65vh;
    display:inline;
    align-items: center;
    position: relative;
}

.input-wrapper {
    background-color: #4c4c4c;
    border-radius: 10px;
    height: 2.5rem;
    padding: 8px 35px 6px 24px;
    box-shadow: 0px 0px 8px #4c4c4c;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom:10px;
}

input{
    background-color: transparent;
    color: #FFFF;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

#search-icon{
    position: absolute;
    right: 20px;
    top: 10px;
    color: royalblue;
    font-size: 1.2rem;
    z-index:1;
    cursor: pointer;
}

.artist-button, .release-button, .track-button{
    margin-right: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: Monaco, monospace;
    color: #ffffff;
    background-color: #1d6fa3;
    box-shadow: 2px 2px 1px black;
    border: #1E2023;
    border-radius: 5px;
    outline: none;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}


.release-button:hover, .artist-button:hover, .track-button:hover {
    background-color: #1090e0;
}

.release-button.active, .artist-button.active, .track-button.active{
    background-color: #30DBBF;
}

.release-button.active:hover, .artist-button.active:hover, .track-button.active:hover {
    background-color: #1eFFE7;
}

.profile_picture{
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px;
}

.pfp{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    cursor: pointer;
}

.pfp:hover{
    border: 2px solid #1eFFE7;
}

