.results-list{
    background-color: #4c4c4c;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #4c4c4c;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    position:absolute;
    bottom:230px;
    left:1165px;
    width:23%;
}