.search-result{
    padding: 20px 20px;
    display:block;
    align-items: center;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.search-result:hover{
    background-color: #efefef;
    color: black;
    cursor: pointer;
}