.album-page{
    display:flex;
    justify-content:center;
    align-items: flex-start;
}

.img{
    height: 50vh;
    width: 50vh;
    margin-right: 30px;
    margin-top: 10px;
}

.album.title {
    display: inline;
}

.title, .artist, .date{
    display:inline;

}

.title{
    font-family: serif;
    font-variant: small-caps;
}

.artist, .date, .tracklist{
    font-family: serif;
    font-variant: normal;
}

.links-under-img {
    display: flex;
    flex-direction: column; /* stack link under image */
    align-items: center;
}
.album-links{
    display:flex;
    flex-direction: column;
    align-items: center;

    font-family: serif;
    font-variant: normal;
}

.list-under-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
