.artist-page{
    display:flex;
    justify-content: left;
    align-items: flex-start;
}

.artist-img{
    height: 50vh;
    width: 50vh;
    margin-right: 30px;
    margin-top: 10px;
    margin-left:20px;
    border: black solid 4px;
}

.release-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.release-img{
    height:20vh;
    width:20vh;
    margin: 15px;
    border: black solid 2px;
}

.release-img:hover{
    border: #00ffd5 solid 2px;
    cursor: pointer;
}

.releases{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
}

.release-title{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 20vh;
}

.release-title:hover{
    text-decoration: underline #fff;
    cursor: pointer;
}

.name-over-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.artist-name{
    text-align: center;
    text-shadow: 2px 2px 1px #333;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}