#spring

server.port=8081
spring.application.name=mediamenu-backend

#postgreSql:

spring.datasource.url=jdbc:postgresql://localhost:5432/MediaMenu
spring.datasource.username=postgres
spring.datasource.password=yourpassword
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate

discogs:

consumer-key: your_consumer_key_here

consumer-secret: your_consumer_secret_here

discogs.token= your_token_here

spotify:
client-id: your_clientid_here

client-secret: your_clientsecret_here

redirect-uri: your_redirecturi_here
