.user-activity-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.user-activity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    padding-right: 10px;
    width: 60%;
    height: 30%;
}

.activity-item-img {
    width: 15vh;
    height: 15vh;
    border: 2px solid black;
    cursor: pointer;
}

.activity-item-img:hover {
    border: 2px solid #30DBBF;
}

.activity-track-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
